.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #b724ff;
	width: 75px;
	height: 5px;
	border-radius: 15px;
}

.swiper-pagination-bullet {
	background: #ffffff;
	width: 30px;
	height: 5px;
	border-radius: 15px;
}